{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block titrePage %}{{ nom }}{% endblock %}

{% block body %}
    <a>prix de fabrication : {{ prix }} € </a>
    <a>Ingrédients : {{ ingredient }} </a>

{% endblock %}