{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block titrePage %}{{ nom }}{% endblock %}

{% block body %}
    <p>prix de fabrication : {{ prix }} € </p>
    <p>Ingrédients : {{ ingredient }} </p>

{% endblock %}